* {
  margin: 0;
  padding: 0; }

.footer_logo p {
  color: #c1c4cf; }

body {
  background-color: white;
  font-family: "Hind", sans-serif;
  max-width: 1600px;
  margin: 0 auto; }

.landing-logo, .footer_logo {
  align-items: flex-start;
  display: flex; }
  .landing-logo p, .footer_logo p {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #2d2e3d;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px; }
    .landing-logo p span, .footer_logo p span {
      font-size: 10px; }

.header {
  background-position: center;
  background-size: cover;
  background-image: url("../img/m-h-day.jpg");
  border-bottom-right-radius: 40%;
  min-height: 600px; }
  .header .header-wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 15px; }
    .header .header-wrap .header_heading {
      color: #2d2e3d;
      position: relative;
      width: 50%;
      margin-top: 50px;
      line-height: 60px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 65px;
      font-weight: bold; }
      .header .header-wrap .header_heading:after {
        content: 'awesome';
        cursor: text;
        background-color: #14a1c6;
        position: absolute;
        left: 0;
        bottom: 0; }
    .header .header-wrap .header_text {
      line-height: 1.6;
      margin-top: 20px;
      white-space: pre-line;
      color: #2d2e3d; }
    .header .header-wrap div:last-child {
      margin-top: 40px;
      width: 50%; }
      .header .header-wrap div:last-child .header_button {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        padding: 10px 40px;
        cursor: pointer;
        color: white;
        border: none;
        border-radius: 4px;
        background-color: #790; }
      .header .header-wrap div:last-child .login {
        color: #c1c4cf;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        width: 60%; }

.section {
  max-width: 960px;
  margin: 0 auto; }
  .section .section_text {
    position: relative;
    padding: 50px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2d2e3d; }
    .section .section_text:after {
      content: 'adventure';
      cursor: text;
      background-color: #14a1c6;
      position: absolute;
      right: 30%; }
  .section .section_card_wrap {
    margin: 0 auto;
    width: 95%; }
    .section .section_card_wrap .section_card {
      display: flex;
      margin-bottom: 25px;
      background-color: #20222d;
      border-radius: 4px;
      padding: 20px; }
      .section .section_card_wrap .section_card .section_card_img {
        border-radius: 4px;
        width: 100%; }
      .section .section_card_wrap .section_card .section_card_right_container {
        padding: 0 30px 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          text-align: center;
          font-size: 20px;
          font-weight: 600;
          color: white; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text,
        .section .section_card_wrap .section_card .section_card_right_container .section_link {
          color: #c1c4cf; }
  .section .section_banner {
    display: flex;
    padding: 30px 0;
    position: relative;
    align-items: center;
    background-image: linear-gradient(to right, #67970d, #2d5bd1);
    bottom: -60px;
    border-radius: 4px;
    justify-content: space-around; }
    .section .section_banner .section_banner_heading {
      color: #2d2e3d;
      position: relative;
      margin-bottom: 10px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 25px;
      font-weight: bold; }
      .section .section_banner .section_banner_heading:after {
        content: 'start';
        cursor: text;
        background-color: #14a1c6;
        position: absolute;
        right: 55%; }
    .section .section_banner .section_banner_button {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      padding: 10px 40px;
      cursor: pointer;
      color: white;
      border: none;
      border-radius: 4px;
      background-color: #790; }
    .section .section_banner .section_banner_text {
      color: #c1c4cf;
      font-size: 12px; }

.footer {
  background-color: #20222d;
  color: #c1c4cf;
  display: flex;
  padding: 50px 0; }
  .footer .footer-cr {
    font-size: 14px; }
  .footer .footer_text {
    width: 320px;
    font-size: 14px;
    line-height: 1.6; }
  .footer .footer-wrap {
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
    display: flex;
    width: 1280px; }
