$main-font-color: white;
$subordinate-font-color: #c1c2cd;
$background-color: #20222d;
$button-color: #e4ad01;
$font-family: 'Fresca', sans-serif;
$font-size: (h1: 65px, h2: 40px, h3: 25px, h4: 20px);
$background-image: url('../img/m-h-night.jpg');
$text-highlight-color: #fe4f32;
$footer-background: #3a3e51;
$left-gradient: #dfa603;
$right-gradient: #95334e;
$link-color: white;