$main-font-color: #2d2e3d;
$subordinate-font-color: #c1c4cf;
$background-color: white;
$button-color: #790;
$font-family: 'Hind', sans-serif;
$font-size: (h1: 65px, h2: 40px, h3: 25px, h4: 20px);
$background-image: url('../img/m-h-day.jpg');
$text-highlight-color: #14a1c6;
$footer-background: #20222d;
$left-gradient: #67970d;
$right-gradient: #2d5bd1;
$link-color: #c1c4cd;